{% extends "template.html" %}

{% block body %}

<h3>Want to sell an item? Upload an image and state your price here: </h3>
<div class="upload-file">
    <form method="POST" enctype="multipart/form-data" id="upload-file">
        <input type="file" id="file" name="file"> <br><br>
        <label for="price">Enter your price: </label> 
        <input type="number" id="price" name="price">
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
</div>

<div class="row">
    {% for item, values in inventory.items() %}
    <div class="column"> 
        <img src="{{ values['filepath'] }}" height="200" width="200">
        <p>Price: ${{values['price']}}0</p>
        <form method="POST">
            <input type="hidden" id="sellQuantity" name="sellQuantity" value="1">
            <input type="hidden" id="id" name="id" value="{{item}}">  
            <button type="submit" class="btn btn-primary">Sell</button>
        </form> 
    </div>
    {% endfor %}
</div>

{% endblock %}