{% extends "template.html" %}

{% block body %}

<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Upload</h5>
        <div class="upload-file">
            <form method="POST" enctype="multipart/form-data" id="upload-file">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" name="file">
                    </div>
                </div>
    
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                    </div>
                    <input type="number" id="price" name="price" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
    
                <div class="input-group-append">
                    <div class="card-body">
                        <button class="btn btn-dark btn-block" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for item, values in inventory.items() %}
    <div class="col">
        <div class="card d-flex flex-column">
            <img src="{{ values['filepath'] }}" class="card-img-top" alt="item">
            <h5 class="card-title">${{values['price']}}0</h5>
            <form method="POST">
                <div class="card-body">
                    <input type="hidden" id="sellQuantity" name="sellQuantity" value="1">                    
                    <input type="hidden" id="id" name="id" value="{{item}}">  
                    <button type="submit" style="margin-top: auto;" class="align-self btn btn-dark btn-lg btn-block">Sell</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}