{% extends "template.html" %}

{% block activenav %}  
<div class="navbar-nav"> 
    <a class="nav-link" aria-current="page" href="{{ url_for('inventory') }}">Inventory</a>
    <a class="nav-link active" href="{{ url_for('marketplace') }}">Marketplace</a>
</div>
{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for item, values in marketplace.items() %}
    <div class="col">
        <div class="card d-flex flex-column">
            <img src="{{ values['filepath'] }}" class="card-img-top" alt="item">
            <h5 class="card-title">${{values['price']}}0</h5>
            <form method="POST">
                <div class="card-body">
                    <input type="hidden" id="buyQuantity" name="buyQuantity" value="1">                    
                    <input type="hidden" id="id" name="id" value="{{item}}">  
                    <button type="submit" style="margin-top: auto;" class="align-self btn btn-dark btn-lg btn-block">Buy</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}